html, body {
    background: no-repeat center/100% url("../images/bg-pattern-desktop.svg");
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 36%, 70%);
    font-size: 1rem;
}

.hero img {
    width: 40vw;
    height: 100vh;
}

h2 {
    font-weight: 600;
    font-size: 3rem;
    margin: 10px 0;
    letter-spacing: 10px;
    color: hsl(0, 6%, 24%);
}

input {
    border: none;
    background-color: transparent;
    padding: 15px;
    margin-left: 10px;
    width: 70%;
    color: hsl(0, 6%, 24%);
}

input:focus {
    outline: none;
}

.content {
    width: 60vw;
    height: 100vh;
    float: left;
    padding: 5% 7% ;
    box-sizing: border-box;
}

.catch-phrase{
    margin-top: 20%;
}

.desc {
    font-weight: 400;
    width: 90%;
    margin: 5% 0;
}

.colored-heading {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.subscription-form {
    width: 400px;
    height: 50px;
    position: relative;
    align-content: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.normal-border {
    border: solid 1px hsl(0, 36%, 70%);
    border-radius: 35px;
}

.error-border {
    border: solid 2px hsl(0, 93%, 68%);
    border-radius: 35px;
}

.btn-submit {
    width: 90px;
    height: 100%;
    position: absolute;
    right: 0px;
    border: none;
    border-radius: 35px ;
    padding: 10px 0;
    border: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    margin: 0;
    box-sizing: border-box;
}

.error {
    margin-left: 20px;
    color: hsl(0, 74%, 74%);
    font-size: 14px;
    visibility: visible;
}

.error-img {
    position: absolute;
    right: 100px;
    top: 12px;
    visibility: visible;
}

.error-img-hidden{
    visibility: hidden;
}

.error-hidden {
    margin-left: 20px;
    color: hsl(0, 74%, 74%);
    font-size: 14px;
    visibility: hidden;
}

button:hover {
    background: hsl(0, 80%, 86%);
}

::placeholder {
    color: hsl(0, 80%, 86%);
}